<%- include('../layout/admin/header.ejs')%>
  <%- include('../layout/admin/navbar.ejs')%>
    <%- include('../layout/admin/sidebar.ejs')%>

      <main id="main" class="main">

        <div class="pagetitle">
          <h1>Dashboard</h1>

        </div>

        <!-- End Page Title -->

        <section class="section dashboard">
          <div class="row">

            <!-- Left side columns -->
            <div class="col-lg-8">
              <div class="row">

                <!-- Sales Card -->
                <div class="col-xxl-4 col-md-6">
                  <div class="card info-card sales-card">

                    <div class="card-body">
                      <h5 class="card-title">Total Sales
                     
                      </h5>

                      <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                          <i class="bi bi-cart"></i>
                        </div>
                        <div class="ps-3">
                          <h6>
                            <%= salesCount%>
                          </h6>
                          
                         

                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <!-- End Sales Card -->

                <!-- Revenue Card -->
                <div class="col-xxl-4 col-md-6">
                  <div class="card info-card revenue-card">

                    <div class="card-body">
                      <h5 class="card-title">Total Revenue
                      
                      </h5>

                      <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                          <i class="bi bi-currency-rupee"></i>
                        </div>
                        <div class="ps-3">
                          <h6>
                            <%=weeklyRevenue[0].totalAmount %>
                          </h6>
                         
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <!-- End Revenue Card -->

                <!-- Customers Card -->
                <div class="col-xxl-4 col-xl-12">
                  <div class="card info-card customers-card">
                    <div class="filter">
                      <!-- Filter dropdown menu code here -->
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Total Customers
                      </h5>
                      <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                          <i class="bi bi-people"></i>
                        </div>
                        <div class="ps-3">
                          <h6>
                            <%= totalUsers%>
                          </h6>

                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <!-- End Customers Card -->
<!-- Reports -->

<div class="col-12">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Reports</h5>

      <h2>Daily Sales Chart</h2>

      
     
     
      
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      
     <!-- Line Chart -->
<div id="salesChart"></div>

<script>
  const sales = <%- JSON.stringify(sales) %>;
  const date = <%- JSON.stringify(date) %>;

  document.addEventListener("DOMContentLoaded", () => {
    new ApexCharts(document.querySelector("#salesChart"), {
      series: [{
        name: 'Sales',
        data: sales,
      }],
      chart: {
        height: 350,
        type: 'area',
        toolbar: {
          show: false
        },
      },
      markers: {
        size: 4
      },
      fill: {
        type: "gradient",
        gradient: {
          shadeIntensity: 1,
          opacityFrom: 0.3,
          opacityTo: 0.4,
          stops: [0, 90, 100]
        }
      },
      dataLabels: {
        enabled: false
      },
      stroke: {
        curve: 'smooth',
        width: 2
      },
      xaxis: {
        type: 'datetime',
        categories: date
      },
      tooltip: {
        x: {
          format: 'dd/MM/yy HH:mm'
        },
      }
    }).render();
  });
</script>
<!-- End Line Chart -->

     <!-- Line Chart -->
     <h2>Payment Method</h2>
     <div id="paymentChart"></div>

     <script>
       const UPI = <%- JSON.stringify(UPI) %>;
       const COD = <%- JSON.stringify(COD) %>;
     
       document.addEventListener("DOMContentLoaded", () => {
         const chart = new ApexCharts(document.querySelector("#paymentChart"), {
           // Set pie chart options
           series: [UPI, COD],
           chart: {
             width: 380,
             type: 'pie',
           },
           labels: ['UPI', 'COD'],
           responsive: [{
             breakpoint: 480,
             options: {
               chart: {
                 width: 200
               },
               legend: {
                 position: 'bottom'
               }
             }
           }]
         });
     
         chart.render();
       });
     </script>
     
    


     

      
      
     
    </div>
  </div>
</div>




      </main>
      <!-- End #main -->

      <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-up-short"></i>
      </a>


      <%- include('../layout/admin/footer.ejs')%>