<%- include('../layout/user/header.ejs')%>
<%- include('../layout/user/navbar.ejs')%>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.3.js"
	integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
	<script src="https://checkout.razorpay.com/v1/checkout.js"></script>


								<!-- Menu Toogle -->
								<div class="menu-toggle">
									<a href="#">
										<i class="fa fa-bars"></i>
										<span>Menu</span>
									</a>
								</div>
								<!-- /Menu Toogle -->
							</div>
						</div>
						<!-- /ACCOUNT -->
					</div>
					<!-- row -->
				</div>
				<!-- container -->
			</div>
			<!-- /MAIN HEADER -->
		</header>
		<!-- /HEADER -->

		<!-- NAVIGATION -->
		<nav id="navigation">
			<!-- container -->
			<div class="container">
				<!-- responsive-nav -->
				<div id="responsive-nav">
					<!-- NAV -->
					<ul class="main-nav nav navbar-nav">
						<li class="active"><a href="/">Home</a></li>
						
						
						
						
					</ul>
					<!-- /NAV -->
				</div>
				<!-- /responsive-nav -->
			</div>
			<!-- /container -->
		</nav>
		<!-- /NAVIGATION -->


        
		<!-- SECTION -->
		<div class="section">
			<form action="" method="post" id="checkout-form">
			<!-- container -->
			<div class="container">
				
				<!-- row -->
                <% if(typeof userdetails!=='undefined'){ %>
                <% if(typeof datas!=='undefined'){ %>
				<div class="row">

					<div class="col-md-7">
						<!-- Billing Details -->
						<div class="billing-details">
						  <div class="section-title">
							<h3 class="title">Shipping address</h3>
						  </div>
						  
						  <% if(addressDetails.length > 0) { %>
							<h4 style="margin-bottom: 20px;">Select shipping address:</h4>
							<% for(var i=0; i<addressDetails.length; i++) { %>
							  <div class="form-check" style="padding: 20px;">
								<input class="form-check-input" type="radio" name="address" id="shipping-address<%=i%>" value="<%=addressDetails[i]._id%>" onchange="updateDeliveryAddress('<%=addressDetails[i].name %>,<%= addressDetails[i].houseName %>, <%= addressDetails[i].street %>, <%= addressDetails[i].district %>, <%= addressDetails[i].country %> - <%= addressDetails[i].pincode %>')">
								<label class="form-check-label" for="shipping-address<%=i%>">
									<%=addressDetails[i].name%>,<%=addressDetails[i].houseName%>, <%=addressDetails[i].street%>, <%=addressDetails[i].district%>, <%=addressDetails[i].country%> - <%=addressDetails[i].pincode%>
								</label>
							  </div>
							<% } %>
						  <% } %>
						  <div class="form-group">
							<input class="input" type="text" name="delivery-address" id="delivery-address" placeholder="Delivery address" hidden>
						  </div>
						  <button style="margin-top: 20px;"><a href="/addAddress">Add address</a></button>
						</div>
						<!-- /Billing Details -->
					  </div>

					<!-- Order Details -->
					<div class="col-md-5 order-details">
						<div class="section-title text-center">
							<h3 class="title">Your Order</h3>
						</div>
						<div class="order-summary">
							<div class="order-col">
								<div><strong>PRODUCT</strong></div>
								<div><strong>TOTAL</strong></div>
							</div>
                            <% for (let key of cartProducts) { %>
								<input type="hidden" name="proId" value="<%= key.product._id %>">
							<div class="order-products">
								<div class="order-col">
									<div><%= key.product.productName %></div>
									<div>₹. <%=key.productTotalPrice %></div>
										
										
									<input type="hidden" name="proQ" value="  <%=key.quantity %>">  
									<input type="hidden" name="qntyPrice" value="<%=key.productTotalPrice %>"> 
								</div>
								
							</div>
                            <% } %>
							<div class="order-col">
								<div>Shiping</div>
								<div><strong>FREE</strong></div>
							</div>
							<div class="order-col">
								<div><strong>TOTAL</strong></div>
								<div><strong class="order-total">₹. <%= datas.totalPrice %></strong></div>
								
								<input type="hidden" name="total" value="<%=datas.totalPrice %>"><del class="product-old-price">₹ <%= (datas.totalPrice * 1.05).toFixed(2) %></del>
								
							</div>
						</div>
						<label for="NAME" class="small text-muted mb-1">Payment
							Method</label><br><br>
							
						<div class="form-group">
							<input type="radio" name="test" value="COD"> Cash on
							delivery<br><br>
						</div>
						<div class="form-group">
							<input type="radio" name="test" value="UPI">UPI<br><br>
						</div>
						<!-- <div class="input-checkbox">
							<input type="checkbox" id="terms">
							<label for="terms">
								<span></span>
								I've read and accept the <a href="#">terms & conditions</a>
							</label>
						</div> -->
						<div class="row mb-md-5">
							<div class="col">
								<button type="submit" name="" id=""
									class="btn btn-danger  btn-lg btn-block ">Place Order</button>
							</div>
						</div>
			</div>
					</div>
					<!-- /Order Details -->
				</div>
                <%} %>
                <%} %>
				<!-- /row -->
			</form>
			</div>
			
			
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		
		<script>
			function updateDeliveryAddress(address) {
			  document.getElementById('delivery-address').value = address;
			}
		 
			$("#checkout-form").submit((e)=>{
				e.preventDefault();
                var formData = $("#checkout-form").serialize();
                $.ajax({
                    url: '/checkout', // replace with the URL of your server-side script
                    type: 'POST', // use POST method
                    data: formData,
                    success: (response) => {
                        // handle the response from the server
                        console.log("yes")
                        console.log(response);
                        if (response.status) {
    location.href = '/success'
} else if (response.radio) {
    Swal.fire({
        icon: 'error',
        title: 'Oops...',
        text: 'Select Payment Method.',
    })
}else if(response.address){
	Swal.fire({
        icon: 'error',
        title: 'Oops...',
        text: 'Select Delivery Address',
    })

}
 else if (response.viewRazorpay) {
    razorpayPayment(response.order)
}
                    },

                });
            });
			function razorpayPayment(order) {
                var options = {
                    "key": "rzp_test_ObYUW6m2fN5vlq", // Enter the Key ID generated from the Dashboard
                    "amount":order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                    "currency": "INR",
                    "name": "Electro", //your business name
                    "description": "Test Transaction",
                    "image": "https://example.com/your_logo",
                    "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                    "handler": function (response) {
                        //  alert(response.razorpay_payment_id);
                        // alert(response.razorpay_order_id);
                        //  alert(response.razorpay_signature)

                        verifyPayment(response,order)
                    },
                    "prefill": {
                        "name": "Dilip P M", //your customer's name
                        "email": "dilippm92@gmail.com",
                        "contact": "9000090000"
                    },
                    "notes": {
                        "address": "Razorpay Corporate Office"
                    },
                    "theme": {
                        "color": "#3399cc"
                    }
                };
                var rzp1 = new Razorpay(options);
                rzp1.open();

            }

			
            function verifyPayment(payment, order) {
                $.ajax({
                    url:'/verify-payment',
                    data: {
                        payment,
                        order
                    },
                    method: "post",
                    success: (response) => {
                        // handle the response from the server
                        console.log("yes")
                        console.log(response);
                        if (response.status) {
                            location.href = '/success'
                        } 
                    }})

            }

			

		  </script>
<%- include('../layout/user/footer.ejs')%>
