<%- include('../layout/user/header.ejs')%>
<%- include('../layout/user/navbar.ejs')%>




								<!-- Menu Toogle -->
								<div class="menu-toggle">
									<a href="#">
										<i class="fa fa-bars"></i>
										<span>Menu</span>
									</a>
								</div>
								<!-- /Menu Toogle -->
							</div>
						</div>
						<!-- /ACCOUNT -->
					</div>
					<!-- row -->
				</div>
				<!-- container -->
			</div>
			<!-- /MAIN HEADER -->
		</header>
		<!-- /HEADER -->

		<!-- NAVIGATION -->
		<nav id="navigation">
			<!-- container -->
			<div class="container">
				<!-- responsive-nav -->
				<div id="responsive-nav">
					<!-- NAV -->
					<ul class="main-nav nav navbar-nav">
						<li class="active"><a href="/">Home</a></li>
						
						
						
						
					</ul>
					<!-- /NAV -->
				</div>
				<!-- /responsive-nav -->
			</div>
			<!-- /container -->
		</nav>
		<!-- /NAVIGATION -->

<section class="h-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-12">
        
            <div class="card-body p-4">
              <div class="d-flex justify-content-between align-items-center mb-4">
                <p class="lead fw-normal mb-0" style="color: #0760e6; padding-top: 20px; "> <b>Orders</b> </p>
               
              </div>
              <table class="table" id="ordertable">
                <thead>
                  <tr>
                    <th>No.</th>
                    <!-- <th>Order Id</th> -->
                    <th>Product Name</th>
                    <th>Product Image</th>
                
                    <!-- <th>Address</th> -->
                    <!-- <th>Payment</th> -->
                    <th>Price</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <% if(orderDetail.length > 0) { %>
                    <% for(let i=0; i<orderDetail.length; i++) { %>
                      <tr>
                        <td><%= i+1 %></td>
                        <!-- <td><%= orderDetail[i]._id %></td> -->
                        <td>
                          <% orderDetail[i].product.forEach((product) => { %>
                            <div><%= product.productId.productName %></div>
                          <% }); %>
                        </td>
                        <td>
                          <% orderDetail[i].product.forEach((product) => { %>
                            <img src="/productImages/<%= product.productId.images[0] %>" width="100px" height="100px" alt="">
                          <% }); %>
                        </td>
                        
                        
                       
                        <td><%= orderDetail[i].total %></td>
                        <td><%=new Date(orderDetail[i].date).toLocaleDateString() %></td>
                        <td><%= orderDetail[i].status %></td>
                        <td> <button  class="btn btn-primary"><a href="/details/<%= orderDetail[i]._id %>" style="color: white;">Details</a> </button>
                          <% if (orderDetail[i].status !== 'Cancelled') { %>
                            <button class="btn btn-warning cancel-order" style="color: black;" data-order-id="<%= orderDetail[i]._id %>" >Cancel</button>
                          <% } %>
                      </td>
                      </tr>
                    <% } %>
                  <% } else { %>
                    <tr>
                      <td colspan="9"><p>No orders found</p></td>
                    </tr>
                  <% } %>
                </tbody>
                
              </table>
              
              
            
           
              
          </div>
        </div>
      </div>
    </div>
  </section>

  
  <script>
    $(document).ready(function() {
      $('.cancel-order').click(function() {
        var orderId = $(this).data('order-id');
        if (confirm('Are you sure you want to cancel this order?')) {
          // User clicked OK in the confirmation dialog
          // Send an AJAX request to cancel the order
          $.ajax({
            url: '/cancel-order',
            method: 'POST',
            data: { orderId: orderId },
            success: function(response) {
              // Order was successfully cancelled
              alert('Order cancelled!');
              // Reload the page to see the updated order list
              location.reload();
            },
            error: function(error) {
              // Error occurred while cancelling the order
              console.log(error);
              alert('Error cancelling order. Please try again later.');
            }
          });
        }
      });
    });
  </script>
  

<%- include('../layout/user/footer.ejs')%>
